body{
    margin:0;
    text-align:center;
    background:#0b0f12;
    color:white;
    font-family:poppins;
}

/* Header */
header{
    padding:25px;
    font-size:25px;
    color:#7CFF5A;
    text-shadow:0 0 12px #7CFF5A;
}

/* Cards */
.container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:35px;
}

.card{
    width:230px;
    padding:25px;
    background:rgba(255,255,255,0.06);
    backdrop-filter:blur(10px);
    border-radius:15px;
    box-shadow:0 0 18px rgba(124,255,90,0.4);
    transition:.3s;
}

.card:hover{
    transform:scale(1.07);
}

.value{
    font-size:36px;
    font-weight:bold;
    text-shadow:0 0 15px #7CFF5A;
    color:#7CFF5A;
}

/* FOOT BUTTON */
#footBtn{
    margin-top:25px;
    font-size:24px;
    padding:17px 40px;
    border:none;
    background:#7CFF5A;
    color:black;
    font-weight:bold;
    border-radius:12px;
    box-shadow:0 0 20px #7CFF5A;
    cursor:pointer;
}

#footBtn:hover{
    transform:scale(1.08);
}

/* Battery animation */
#batteryBox{
    margin:35px auto 10px;
    width:200px;
    height:80px;
    border:4px solid #7CFF5A;
    border-radius:10px;
    position:relative;
}

#batteryLevel{
    height:100%;
    width:0%;
    background:#7CFF5A;
    border-radius:7px;
    transition:.4s;
}

/* impact */
.impactBox{
    margin-top:20px;
    background:rgba(255,255,255,0.06);
    width:280px;
    padding:15px;
    margin-left:auto;
    margin-right:auto;
    border-radius:12px;
    box-shadow:0 0 15px rgba(124,255,90,0.4);
    font-size:18px;
}

/* Graph */
.chartBox{
    width:85%;
    margin:40px auto;
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:15px;
}

