body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #eef3ff;
    margin: 0;
    padding: 0;
}

header {
    background: #0077ff;
    color: white;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#energyChart {
    width: 80%;
    margin: 40px auto;
}
