/* DARK GLASS UI */

body{
    margin:0;
    background:#0b0f12;
    color:white;
    font-family: Poppins, sans-serif;
    text-align:center;
}

header{
    padding:25px;
    color:#7CFF5A;
    font-size:26px;
    text-shadow:0 0 10px #7CFF5A;
}

.container{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:40px;
    flex-wrap:wrap;
}

.card{
    background:rgba(255,255,255,0.06);
    padding:25px;
    width:220px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(124,255,90,0.4);
    transition:.3s;
}

.card:hover{
    transform:scale(1.05);
    box-shadow:0 0 25px rgba(124,255,90,0.8);
}

.value{
    font-size:35px;
    color:#7CFF5A;
    text-shadow:0 0 15px #7CFF5A;
    font-weight:bold;
}

/* Foot press button */
#footBtn{
    margin-top:30px;
    padding:18px 40px;
    font-size:22px;
    font-weight:bold;
    background:#7CFF5A;
    color:black;
    border:none;
    border-radius:12px;
    cursor:pointer;
    box-shadow:0 0 20px #7CFF5A;
    transition:.3s;
}

#footBtn:hover{
    transform:scale(1.08);
    box-shadow:0 0 30px #52ff1c;
}

/* Graph */
.chartBox{
    width:85%;
    margin:40px auto;
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(124,255,90,0.4);
}

